<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body style="background-color:rgba(255, 0, 34, 0.26);">

<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-51" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search with Unique Id"  name="participantId" [(ngModel)]="participantId"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findenrollparticipantByparticipantId()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>()
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>participantId</th>
            <th>ParticipantName</th>
            <th>PhoneNumber</th>
            <th>programCode</th>
            <th>programName</th>
            <th>programDuration</th>
            <th>Action</th>
           
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let enrollparticipant of enrollparticipants">
            <td>{{enrollparticipant.participantId}}</td>
            <td>{{enrollparticipant.participantName}}</td>
            <td>{{enrollparticipant.participantsPhoneNumber}}</td>
            <td>{{enrollparticipant.participantsTraingProgramCode}}</td>
            <td>{{enrollparticipant.participantsTraingProgramName}}</td>
            <td>{{enrollparticipant.traingProgramDuration}}</td>
            <td class="text-align"><button class="btn btn-danger btn-xs" (click)="deleteenrollparticipant(enrollparticipant)"><span class="glyphicon glyphicon-remove"></span> Delete</button></td>
            
          </tr>
          
    </tbody>
    </table>
    <div>
        <h2>
        <a href="http://localhost:4200/registerparticipant"><u>Back To Register Page</u></a>
    </h2>
</div>
    </div>
</div>


